/* #EAE509
#7DCE13
#5BB318
#2B7A0B */


:root{
    --color-1 : #EAE509;
    --color-2 : #7DCE13;
    --color-3 : #5BB318;
    --color-4 : #2B7A0B;
    --nav-h : 60px;
}

.arabic{
    font-family: 'Lateef', serif !important;
}


.color-1{color: var(--color-1);}
.color-2{color: var(--color-2);}
.color-3{color: var(--color-3);}
.color-4{color: var(--color-4);}


.Bgcolor-1{background-color: var(--color-1);}
.Bgcolor-2{background-color: var(--color-2);}
.Bgcolor-3{background-color: var(--color-3);}
.Bgcolor-4{background-color: var(--color-4);}

.event{
    background-image: url(../img/WhatsApp-Image-2019-08-16-at-20.25.11.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.event::before{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--color-3);
    background: linear-gradient(180deg, var(--color-1) 0%, var(--color-4) 100%);
    position: absolute;
    z-index: 1;
    opacity: 80%;
    content: " ";
}
.event > div{
    position: relative;
    z-index: 2;
}

.boxListAlquran{
    transition: .3s;
}
.boxListAlquran:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}
.not-mobile{
    display: block !important;
}

@media screen and (max-width: 768px){
    .not-mobile{
        display: none !important;
    }
    .boxListAlquran{
        transition: unset;
    }
    .boxListAlquran:hover{
        transform: scale(1);
        box-shadow:none;
    }
}

* img{
    object-fit: cover;
    object-position: center;
}

.load span{
    display: block;
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 100%;
    border: 30px solid black;
    border-left-color: var(--color-1);
    border-right-color: var(--color-2);
    border-top-color: var(--color-3);
    border-bottom-color: var(--color-4);
    animation: load 2s infinite linear;
    margin: auto;
}

@keyframes load {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}